{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'base/navbar.html' %}
</br>
<div class="row">
    <div class="col-6">
        <div class="col-6">
            <a href="{% url 'ticket' %}">
                <button type="submit" class="btn btn-primary">
                    Create Ticket
                </button>
            </a>
    </div>

    </div>
    <div class="col-6">
        <a href="{% url 'ticketreview' %}">
            <button type="submit" class="btn btn-primary">
                Create Ticket and Review
            </button>
        </a>
    </div>
</div>

{% for tr in tickets_reviews %}
    {% if tr.1 == 'R' %}
        <h7> Your review at {{tr.0.time_created}}</h7>
        <h6>{{tr.0.headline}} {{ "⭐⭐⭐⭐⭐"|slice:tr.0.rating }}</h6>
        <h6>{{tr.0.body}}</h6>
    {% else %}
        <p>{{tr.0.title}}</p>
        <p>{{tr.0.description}}</p>
    {% endif %}

{% endfor %}
{% endblock %}
